body {
	background: url('../_images/ha-logo-hd.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
.pageTitle {
	text-align: center;
	color: #fff;
	margin: 40px auto;
}
.navbar-brand {
	padding-left: 5%;
}
.nav-item {
	padding: 0 5%;
}
.login {
	border: 1px solid grey;
	display: inline;
}
.dropdown-menu {
	text-align: center;
}
.Avatar {	
	width: 75px;
	height: 75px;
	margin: 5%;
}
.loginBtn {
	border: 1px solid white;
	float: right;
	background-color: transparent;
	margin: 10%;
}
.registerBtn {
	border: 1px solid white;
	float: right;
	background-color: transparent;
	margin: 5% 10%;
}
#loginModal input[type="text"],#loginModal input[type="password"] {
	border: none;
	background-color: transparent;
	border-bottom: 2px solid white;
	color: white;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 5px 10px;
}
#registrationModal input[type="text"],#registrationModal input[type="password"] {
	border: none;
	background-color: transparent;
	border-bottom: 2px solid white;
	color: white;
	width: 40%;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 5px 10px;
}
.modal { 
	margin-top: 5%;
	text-align: center;
	display: none; 
    position: fixed;
    z-index: 1;
    left: 25%;
    top: 0;
    width: 50%;
    overflow: auto;
}
.modal-content {
	padding-top: 5%;
  	background-color: rgba(52,58,64,0.7);
  	margin: 5px auto;
	border: 2px solid grey;
  	width: 100%;
  	height: 85%;
}
.chooseImg {
	margin-top: 5%;
	display: block;
	padding-left: 10%;
	color: white;
}
.close {
  position: absolute;
  right: 25px;
  top: 10px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  z-index: 1;
  cursor: pointer;
}

/* heroProfile.php */

.profile {
	margin: 3% auto;
	padding: 2%; 
	font-family: Impact;
	border: 1px solid #fff;
	width: 100%;
	color: #fff;
	border-radius: 10px;
	height: 500px;
  	background-color: rgba(52,58,64,0.7);
}
.heroAvatar {
	float: left;
	width: 20%;
	height: 200px;
	border: 1px solid #fff;
	border-radius: 10px;
	margin-right: 5%;
}
.heroInfo {
	float: right;
	width: 75%;
}

/* monsters.php */
.monsterContainer {
	text-align: center;
	margin-bottom: 20px;
}
.monsterContainer h2{
	text-transform: uppercase;
	font-weight: bold;
}
.monster-img {
	width: 100%;
	height: 300px;
}
.card-text {      
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.monsterContainer a {
	font-weight: bold;
}