body {
	background-image: linear-gradient(
    rgba(36, 149, 194, 0.5),
    rgba(4,4,4, 0.5)
    ),
    url(../_images/ha-logo-hd.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
.pageTitle {
	text-align: center;
	color: #fff;
	margin: 40px auto;
}
.navbar-brand {
	padding-left: 5%;
}
.nav-item {
	padding: 0 5%;
}
.login {
	border: 1px solid grey;
	display: inline;
}
.dropdown-menu {
	text-align: center;
}
.loginBtn {
	position: fixed;
	bottom: 35%;
	right: 9%;
}
.registerBtn {
	position: fixed;
	bottom: 3%;
	right: 5%;
}
/*#loginModal input[type="text"],#loginModal input[type="password"] {
	border: none;
	background-color: transparent;
	border-bottom: 2px solid white;
	color: white;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 5px 10px;
}*/
/*#registrationModal input[type="text"],#registrationModal input[type="password"] {
	border: none;
	background-color: transparent;
	border-bottom: 2px solid white;
	color: white;
	width: 40%;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 5px 10px;
}*/
.Avatar {	
	position: relative;
	top: 25%;
	width: 100px;
	height: 100px;
}
.modal-design {
	left: 0;
	text-align: center;
	background-color: #000;
	top: 0%;
	height: 100%;
	position: fixed;
	width: 50%;
}
.modal-design h2 {
	position: relative;
	top: 30%;
	color: white;
	font-weight: bold;
}
.loginContainer {
	padding: 20% 4%;
	color: white;
	position: fixed;
	right: 0;
	top: 0;
	width: 50%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.container1 {
	padding: 2% 4%;
	color: white;
	position: fixed;
	right: 0;
	top: 0;
	width: 50%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.container1 input, .loginContainer input {
	width: 55%;
	display: inline-block;
	height: 10%;
}
.container1 label,.loginContainer label {
	width: 30%;
	margin-right: 20px;
}
.container1 h2,.loginContainer h2 {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 50px;
}
.modal { 
	display: none; 
    position: fixed;
    z-index: 1;
    left: 0%;
    top: 0%;
    width: 100%;
}
.modal-content {
	padding-top: 5%;
  	background-color: rgba(52,58,64,0.7);
  	margin: auto;
  	width: 100%;
  	height: 100%;
  	overflow: auto;
}
.chooseImg {
	display: block;
	color: black;
}
.close {
  position: absolute;
  right: 25px;
  top: 10px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  z-index: 1;
  cursor: pointer;
}

#opening {
	width: 100%;
	margin-bottom: 5%;
}
.heroes, .disaster {
	text-align: center;
	color: white;
	padding-bottom: 20px;
	border-bottom: 2px solid white;
}
.heroes h2, .disaster h2 {
	font-weight: bold;
	text-transform: uppercase;
	margin: 20px auto;
}
.heroes .card, .disaster .card {
	opacity: 0.9;
	margin: 20px auto;
}
.heroes .card-text, .disaster .card-text {
    white-space: normal;
}

/* heroProfile.php */

.profile {
	padding: 25% auto;
	font-family: Impact;
	width: 100%;
	color: #fff;
  	text-shadow: 2px 3px black;
}
.heroAvatar {
	bottom: 0;
	right: 0;
	position: absolute;
	width: 50%;
	height: 100%;
	z-index: -1;
/*	border: 1px solid #fff;
	border-radius: 10px;
	margin-right: 5%;*/
}
.heroInfo{
	margin: 10% auto;
	/*width: 50%;
	position: absolute;
	top: 25%;*/
	text-transform: uppercase;
	text-align: left;
}
.heroName {
	width: 50%;
	padding-left: 2%;
	border-bottom: 2px solid white;
	padding-bottom: 2%;
	 margin-bottom: 2%;
}
.heroSubInfo {
	padding-left: 2%;
}
/* monsters.php */
.monsterContainer {
	text-align: center;
	margin-bottom: 20px;
	opacity: 0.8;
}
.monsterContainer h2{
	text-transform: uppercase;
	font-weight: bold;
}
.monster-img {
	width: 100%;
	height: 300px;
}
.card-text {      
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.monsterContainer a {
	font-weight: bold;
}

/* createTask.php && addMonster.php && deployTask.php */
.createTask {
	position: absolute;
	width: 80%;
	top: 15%;
	border: 1px solid white;
	border-radius: 5px;
  	background-color: rgba(52,58,64,0.7);
  	color: white;
  	padding: 2% 5%;
}
.createTask input[type='submit'] {
	float: right;
	margin: 2% auto;
}
.createTask select, .createTask h2 {
	margin-bottom: 10px;
}
/* homepage */

.announcement {
	position: absolute;
	left: 10%;
	padding: 0 auto;
	width: 80%;
	right: 10%;
}

/* tasks */
.taskContainer {
	margin: 5% auto;
	width: 100%;
}
.taskContainer table {

}